*{margin: 0; padding: 0;}


button:hover {
    box-shadow: 0px;
    background-color: var(--cor-fundo);
}
  

.menu{
    list-style:none;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: var(--cor-fundo)
    
}
.menu li{
    position:relative;
}

.menu li a{color:white; text-decoration:none; padding:10px 20px; display:block;}

.menu li a:hover{
    box-shadow: 0px;
    background-color: #f3f8f0;
    color:var(--cor-fundo)

}
.menu li  ul{
    position:absolute;
    top:100%;
    left: 0px;;
    background-color: var(--cor-fundo);
    display:none;
}
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px ;
    display:block;
    width:200px;
}
.logout {
    background-color: #666666;
    color: white;
    box-shadow: none;
    border-radius: 0;
}
.logout:hover{
    box-shadow: 0px;
    background-color: #f3f8f0;
    color:var(--cor-fundo)

}