/* .login {
    display: flex;
    text-align: center;
} */
.formLogin {
    background-color: rgba(204, 202, 202, 0.87);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    

    /* position: ;
    /* text-align: center;

    left: 30%; */


}

.formLogin h2 {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLogin form {
    background-color: whitesmoke;
    width: 450px;
    height: 250px;
    text-align: center;
}

/* .btn-form-ngn {
    color: red !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */

/* .email {
    position: absolute;
    left: 38px;
    top: 65px;

}

.senha {
    position: absolute;
    left: 38px;
    top: 124px;
}



.entrar {
    position: absolute;
    left: 335px;
    top: 200px;
}
.registrar {

position: absolute;
left: 50px;
top: 188px;
}

.letra {
    position: absolute;
    width: 233.86px;
    height: 33.5px;
    left: 135.26px;
    top: 113.77px;

    background: rgba(184, 240, 157, 0.7);
    border-radius: 10px;
} */