body {
    font-family: Arial, Helvetica, sans-serif;
}

.formLogin {
    position: absolute;
    width: 408px;
    height: 268.63px;
    left: 98px;
    top: 200px;
    
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.email {
    position: absolute;
    left: 50px;
    top: 59px;

}

.senha {
    position: absolute;
    left: 50px;
    top: 118px;
}



.entrar {
    position: absolute;
    left: 252.19px;
    top: 187.72px;
}
.registrar {

position: absolute;
left: 50px;
top: 188px;
}

.letra {
    position: absolute;
    width: 233.86px;
    height: 33.5px;
    left: 135.26px;
    top: 113.77px;

    background: rgba(184, 240, 157, 0.7);
    border-radius: 10px;
}