/* body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    font-size:large;
} */

:root {
    --cor-fundo: #666666;
}


/* input {

    border-radius: 7px;
    position: absolute;
    height: 35px;
    width: 300px;
    left: 120px;
    border: solid 1px var(--cor-fundo);
    
} */

/* select {
    border-radius: 7px;
    position: absolute;
    height: 35px;
    width: 300px;
    left: 120px;
    border: solid 1px var(--cor-fundo);
} */
/*

button:hover {
    box-shadow: 0px;
    background-color: var(--cor-fundo);
    color: white;
} */

/* label {

    display: flex;
    height: 60px;
} */
/* button {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border: 0;
    border-radius: 10px;
    padding: 10px;
} */
/* form {
    position: absolute;
    width: 500px;
    height: 600px;
    left: 170px;
    top: 200px;

}  */
button {
    display: flex;
    margin-top: 100px;
    margin: 10px;
}
