body{
    font-family: Arial, Helvetica, sans-serif;
}
#qq{
    height: 150px;
    left: 200px;
    top: 268px;
    
    background-color: #B8F09D;
    
}

input {
    background: rgba(184, 240, 157, 0.7);
    border-radius: 10px;
    height: 20px;
}

button {

    background: #94FC63;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
form {
    position: absolute;
    width: 600px;
    height: 1194px;
    left: 698px;
    top: 250px;
}
label {
    display: flex;
    height: 40px;
}
input {
    position: absolute;
    left: 100px;
    border: 0;
}